body {
    background: url("https://image.freepik.com/free-vector/watercolor-background_87374-69.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page {
   font-family: 'Kufam', cursive;
}


h1 {
    text-align:center;
    font-family: 'Press Start 2P', cursive;
}