<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.css}">
    <link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../formStyle.css}">
    <script th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>

</head>
<body class="body-background">

<form class="form-horizontal w-100" action="#"
      th:action="@{/need-request/}+${actionUrl}"
      th:object="${request}"
      method="post" th:fragment="edit-form">
    <input type="hidden" th:name="uuid" th:id="uuid" th:value="${needRequest!=null} ? ${needRequest.uuid}: ''"/>
    <div class="form-group row mb-sm-3">
        <label class="col-sm-4 col-form-label " th:text="#{needRequestForm.name}"></label>
        <div class="col-sm-8">
            <div class="input-group">
                <input type="text" class="form-control input-md" th:name="name" th:id="name"
                       th:value="${needRequest==null || (#fields.hasErrors() && needRequest.uuid==request.uuid)} ? ${request.name} : ${needRequest.name}"/>
                <span class="errorClass"
                      th:if="${#fields.hasErrors('name') && (needRequest==null || needRequest.uuid==request.uuid)}"
                      th:errors="*{name}"></span>
            </div>
        </div>
    </div>
    <div class="form-group row mb-sm-3">
        <label class="col-sm-4 col-form-label" th:text="#{basicForm.location}"></label>
        <div class="col-sm-8">
            <div class="input-group">
                <input type="text" class="form-control input-md" th:name="location" th:id="location"
                       th:value="${needRequest==null || (#fields.hasErrors() && needRequest!=null  && needRequest.uuid==request.uuid)} ? ${request.location} : ${needRequest.location}"/>
                <span class="errorClass"
                      th:if="${#fields.hasErrors('location') && (needRequest==null || needRequest.uuid==request.uuid)}"
                      th:errors="*{location}"></span>
            </div>
        </div>
    </div>
    <div class="form-group row mb-sm-3">
        <label class="col-sm-4 col-form-label" th:text="#{basicForm.phone}"></label>
        <div class="col-sm-8">
            <div class="input-group">
                <input type="text" class="form-control input-md" th:name="phone" th:id="phone"
                       th:value="${needRequest==null || (#fields.hasErrors() && needRequest!=null  && needRequest.uuid==request.uuid)} ? ${request.phone} : ${needRequest.phone}"/>
                <span class="errorClass"
                      th:if="${#fields.hasErrors('phone') && (needRequest==null || needRequest.uuid==request.uuid)}"
                      th:errors="*{phone}"></span>
            </div>
        </div>
    </div>
    <div class="form-group row mb-sm-3">
        <label class="col-sm-4 col-form-label" th:text="#{basicForm.typeOfHelp}"></label>
        <div class="col-sm-8">
            <select class="custom-select" th:name="typeOfHelp"
                    th:id="typeOfHelp"
                    th:value="${needRequest==null || (#fields.hasErrors() && needRequest!=null  && needRequest.uuid==request.uuid)} ? ${request.typeOfHelp} : ${needRequest.typeOfHelp}">
                <option th:each="element: ${types}" th:value="${element}"
                        th:text="${element.type}"
                th:selected="${needRequest==null || (#fields.hasErrors() && needRequest!=null  && needRequest.uuid==request.uuid)}  ? ${element==request.typeOfHelp} : ${element==needRequest.typeOfHelp}"/>
            </select><br/>

        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-success" type="submit" th:text="#{basicForm.submit}"></button>
    </div>
</form>

</body>
</html>