.errorClass {
    width: 100%;
    float: right;
    text-align: right;
    color: red;
    font-size: 14px;
    padding-right: 5px;
}
.paddingClass{
    padding: 2px;
    width: 208px;
}
form {
    overflow: hidden;
    width: 470px;
}

label {
    float: left;
    width: 200px;
    padding-right: 24px;
    margin-top: 10px;
}

input,select{
    float: left;
    width: 200px;
    margin-top: 10px;
}

button {

    width: 200px;
    margin-top: 20px;

}