<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" method="post" th:object="${needRequestForm}" th:action="@{/needRequestForm}">
    <label>Name:</label>
    <input type="text" th:field="*{name}"/><br/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br/>
    <label>Location:</label>
    <input type="text" th:field="*{location}"/><br/>
    <span th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></span><br/>
    <label>Phone:</label>
    <input type="text" th:field="*{phone}"/><br/>
    <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span><br/>
    <label>Type of help:</label>
    <select th:field="*{typeOfHelp}">
        <option th:each="element: ${types}" th:value="${element}" th:text="${element.type}"/>
    </select><br/>
    <button type="submit">register</button>
</form>

</body>
</html>