<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{../formStyle.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" method="post" th:object="${needRequestForm}" th:action="@{/need-request/submit-new-form}">
    <fieldset>
        <legend>Dane do zgłoszenia pomocy</legend>
        <label>Imię i nazwisko:</label>
        <input type="text" th:field="*{name}"/>
        <span class="errorClass" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        <label>Miasto:</label>
        <input type="text" th:field="*{location}"/>
        <span class="errorClass" th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></span>
        <label>Telefon:</label>
        <input type="text" th:field="*{phone}"/>
        <span class="errorClass" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
        <label>Rodzaj pomocy:</label>
        <select class="paddingClass" th:field="*{typeOfHelp}">
            <option th:each="element: ${types}" th:value="${element}" th:text="${element.type}"/>
        </select><br/>
        <button type="submit">Zapisz</button>
    </fieldset>
</form>

</body>
</html>
