<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" id="bootstrap-css">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<head>
    <link rel="stylesheet" th:href="@{/static/formStyle.css}">
    <meta charset="UTF-8">
    <title>Helpick</title>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Znajdź osobę potrzebującą pomocy:</div>
                    <div class="card-body">

                        <form class="form-horizontal" method="post" th:object="${needRequestSearchForm}"
                              th:action="@{/need-request/search/result}">
                            <div class="form-group">
                                <label for="city"  class="cols-sm-2 control-label">Miasto:</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        <input type="text" th:field="*{city}" class="form-control" name="city" id="city"
                                               placeholder="Miasto" required="true"/>
                                        <span class="errorClass" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>

                                    </div>
                                </div>
                            </div>
                            <label>Jakiego rodzaju pomocy chcesz udzielić?</label>
                            <div>
                                <select th:class="form-control" id="category" th:field="*{typeOfHelp}" required="true">
                                    <option th:each="typeOfHelp : ${T(com.infoshare.domain.TypeOfHelp).values()}"
                                            th:value="${typeOfHelp}" th:text="${typeOfHelp.getType()}">
                                    </option>
                                </select>
                            </div>
                            <p></p>
                            <div class="form-group ">
                                <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Search!
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
